.chroma-walking-guys img{
    width: 100%;
    height: auto;
}

.chroma-walking-guys{
    width: 50vw;
}

.chroma-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5vw;
    gap: 3vw;
}

.chroma-color-palet{
    width: 100%;
}

.chroma-color-palet img{
    width: 50%;
}

.chroma-image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 5vw;
}

.chroma-gallery-image {
  height: 300px;
  object-fit: cover;
  transition: transform 0.3s ease;
  /* cursor: pointer; */
}

.chroma-gallery-image:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.lightbox-image {
  max-width: 90%;
  max-height: 80%;
  margin-top: 3%;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  /* cursor: pointer; */
  user-select: none;
  z-index: 1001;
  padding: 10px;
  transition: background 0.2s ease;
}

.nav-button:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.nav-button.left {
  left: 20px;
}

.nav-button.right {
  right: 20px;
}
