.about-me-video-container {
  position: relative;
  width: 100%;
  height: 94vh;
  overflow: hidden;
  cursor: pointer;
}

.about-me-bg-vid {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 105%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.sound-icon {
  position: absolute;
  top: 100px;
  left: 20px;
  z-index: 100;
  background: rgba(0, 0, 0, 0.4);
  padding: 6px;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.about-me-container:hover .sound-icon {
  opacity: 1;
  pointer-events: auto;
}

.about-me-background {
  background: var(--primary-color);
}

.about-me-container {
  height: 70vh;
  position: relative;
  padding: 7vh 5vw;
  padding-right: 0;
  padding-top: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
}

.about-me-text{
  width: 45%;
}

.about-me-text p{
  margin-top: 6vh;
}

.about-me-text-para-thin{
  width: 70%;
}

.kat-pic {
  background-color: white;
  width: 35%;
  height: 70%;
  margin-bottom: 3vw;
  align-self: flex-end;
  border-radius: 60px 0 0 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.white-cover{
  background: white;
  height: 10vh;
  width: 100%;
  border-radius: 10vh 10vh 0 0;
}

.about-me-text h2{
  margin-top:0;
  font-size: 1.5rem;
  font-weight: 600;
}