body {
  cursor: none;
}

.mouse-follower {
  position: fixed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #FF8D1C;
  mix-blend-mode: difference;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease, transform 0.05s linear;
  opacity: 0;
  z-index: 9999;
  transition:
    opacity 0.2s ease,
    transform 0.1s ease,
    width 0.2s ease,
    height 0.2s ease,
    background-color 0.2s ease;
}

.mouse-follower.visible {
  opacity: 1;
}

.click-cursor{
  text-align: center;
  transform: translatey(-20%);
  font-size: 15px;
  color: var(--secondary-color);
}

.hovering {
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  mix-blend-mode: normal;
}