.project-page-title.ouch{
   margin-top: 10vh; 
   width:100%;
}

.header-maintext.ouch p {
    width: 37%;
    margin-right: 5%;
    margin-left: auto;
}

.header-maintext.ouch {
    margin-top: 6vh;
}