.loading-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeOut 1s ease-out 2s forwards;
  background: linear-gradient(59deg,rgba(28, 96, 255, 1) 20%, rgba(253, 131, 148, 1) 100%);
  background-size: 200% 200%;
  animation-name: gradientFade, fadeOut;
  animation-duration: 2s, 1s;
  animation-delay: 0s, 2s;
  animation-fill-mode: forwards, forwards;
  animation-timing-function: ease-in-out, ease-out;
  text-align: center;
}

@keyframes gradientFade {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 100%;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.loading-text {
  font-size: 2rem;
  color: white;
  opacity: 1;
  animation: textFadeOut 1s ease-out 2s forwards;
}

@keyframes textFadeOut {
  to {
    opacity: 0;
  }
}
