.loading-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(59deg, var(--primary-color) 20%, var(--secondary-color) 100%);
  background-size: 200% 200%;
  animation-name: gradientPulse;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  text-align: center;
}

@keyframes gradientPulse {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.loading-text {
  font-size: 2rem;
  color: white;
  opacity: 1;
}

.loading-screen h2 {
  font-weight: 400;
}

.loading-screen h1 {
  font-size: clamp(3rem, 6vw, 7rem);
}