.letter-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.letter-image {
  position: absolute;
  bottom: 57%;
  left: 50%;
  transform: translateX(calc(-50% + var(--tx, 0em))) translateY(var(--ty, 0em));
  width: 0.8em;
  height: auto;
  z-index: 20;
  pointer-events: none;
}