.dynamic-image-row {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - (var(--default-left-spacing) * 2));
    height: max-content;
    padding: 0 var(--default-left-spacing);
    justify-content: var(--align-mobile);
    --gap: 8px;
    gap: var(--gap);
}

.row-img {
    width: calc(var(--width-mobile) - var(--gap-offset));
    max-height: var(--height-mobile);
    aspect-ratio: auto;
}

@media (min-width: 768px) {
    .dynamic-image-row {
        justify-content: var(--align-desktop);
    }

    .row-img {
        width: calc(var(--width-desktop) - var(--gap-offset));
        max-height: var(--height-desktop);
        aspect-ratio: auto;
    }
}