.random-box {
    position: relative;
    width: 40%;
    height: 80vh;
    margin-right: 7vw;
}

.random-image {
    position: absolute;
    width: clamp(200px, 20vw, 375px);
    height: auto;
    object-fit: cover;
    transition: transform 0.4s ease;
    cursor: pointer;
    z-index: 1;
}

.random-image:hover {
    z-index: 10;
}