.presentation-container {
  margin-left: 4%;
  margin-top: 5vh;
}

div.presentation {
  margin-top: 8vh;
  width: fit-content;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

h1.presentation {
  color: var(--primary-color);
  padding-bottom: 0.5rem;
}

.project-container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 3vw;
    margin-top: 8vh;
    margin-bottom: 25vh;
}
