header {
	position: fixed;
	top: 0;
	height: clamp(3rem, 6vh, 5rem);
	width: 100%;
	z-index: 9998;
	background: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 2vw;
	box-sizing: border-box;
	color: var(--primary-color);
	font-size: clamp(1rem, 4vh, 1.5rem)
}

.header-container {
	margin-bottom: clamp(3rem, 6vh, 5rem);
}

header p {
	margin: 0;
}

.header-logo {
	width: 4.5vh;
	width: clamp(2rem, 4.5vh, 4rem);
	height: auto;
}

@media (max-width: 768px) {
}