header {
	position: fixed;
	top: 0;
	height: 7vh;
	width: 100%;
	z-index: 9998;
	background: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 2vw;
	box-sizing: border-box;
	color: var(--primary-color);
	font-size: 1.5rem;
}

.header-container {
	margin-bottom: 7vh;
}

header p {
	margin: 0;
}

.header-logo {
	width: 3rem;
	height: auto;
}

@media (max-width: 768px) {
	header {
		height: 6.5vh;
		font-size: 1rem;
	}

	.header-logo {
		width: 2rem;
		height: auto;
	}

	.header-container {
		margin-bottom: 6.5vh;
	}
}