footer{
    background: var(--primary-color);
    background: linear-gradient(90deg, var(--primary-color) 0%, rgba(0, 0, 0, 1) 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4.2vh 4%;
    font-size: 1rem;
}

footer div{
    width: fit-content;
}

footer p{
    margin: 0;
}

.rotating-text{
    width:17%
}

.footer-pigeon{
    height: 6vh;
}