.circ-car {
    width: 100%;
    overflow-x: hidden;
    display: flex;
}

.circ-car-group {
    display: flex;
    width: max-content;
    flex-wrap: nowrap;
    height: 50vh;
    align-items: flex-start;
}

.circ-car::-webkit-scrollbar {
    display: none;
}

.circ-car-card {
    height: 15vh;
    border-radius: var(--default-rounded-corner);
    margin: auto 7vw;
}