.contact-container {
  text-align: center;
  min-height: 90vh;
}

.contact-header {
  background-color: #f98092;
  color: white;
  padding: 100px 20px;
}

.contact-header h1 {
  margin: 5vh 0;
}

.contact-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 10vh auto;
}

.contact-links a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1.5vw;
  transition: opacity 0.3s;
}

.contact-links a:hover {
  opacity: 0.7;
}

a{
    cursor: none;
}
