/* src/components/Timeline/Timeline.css */
.CV-history {
  width: 25%;
}

.CV-timeline {
  border-left: solid 4px;
  padding-left: 2vw;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.CV-history h2 {
  padding-left: calc(2vw + 4px);
}

.CV-history h3 {
  position: relative;
  margin-bottom: 0;
}

.CV-history p {
  margin-top: 0;
}

.CV-history h3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(-2vw - 13px);
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.CV-history h3::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(-2vw + 4px - 13px);
  width: 18px;
  height: 18px;
  background-color: var(--primary-color);
  border-radius: 50%;
  transform: translateY(-50%);
}
